body {
    font-family: 'Poppins', sans-serif;
}

.toolShadow {
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.1), inset 0 0 0px 0px rgba(0, 0, 0, 0.08);
    background-color: #3182ed;
    transform: translateY(-2px);
    transition: all 0.2s ease-in-out;
    color: black;
}

.toolShadow:focus {
    transform: translateY(0px);
    color: white;
}

.toolNav {
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .16), 0px 2px 3px rgba(0, 0, 0, .24), 0px 2px 6px rgba(0, 0, 0, .1), inset 0px 0px 0px 1px #fff;
    background-color: #fff;
}